<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulario de usuarios</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="background-color: black;">
        <div class="container">
            <h1 class="display-6" style="color: #AEEA00;"><b>Formulario de cadastro </b></h1>
            <p class="lead" style="color: #F5F5F5;">Informe seus dados corretamente.</p>
            <% if (messages.success) { %>
                <div class="alert alert-success" role="alert">
                    <%- messages.success %>
                </div>
                <% } %>

                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%- messages.error %>
                        </div>
                        <% } %>
        </div>
    </div>
    <div class="container" style="margin-top: 50px;">
        <div class="card center">
            <div class="card-header">
                <ul class="nav nav-pills w-100">
                    <li class="nav-pill active">
                        <a class="nav-link" style="color: #AEEA00;"><b> Usuarios </b></a>
                    </li>
                    <li class="nav-pill ml-auto">
                        <a class="nav-ligth active " href="/formulario/adicionar"><b>Adicionar Usuario</b></a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <% if(data.length) { %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">CPF / CNPJ</th>
                                <th scope="col">Logradouro</th>
                                <th scope="col">Numero</th>
                                <th scope="col">Bairro</th>
                                <th scope="col">Cidade</th>
                                <th scope="col">Estado</th>
                                <th width="200px">| Editar ou Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i< data.length; i++) { %>
                                <tr>
                                    <th scope="row">
                                        <%= (i+1) %>
                                    </th>
                                    <td>
                                        <%= data[i].nome%>
                                    </td>
                                    <td>
                                        <%= data[i].email%>
                                    </td>
                                    <td>
                                        <%= data[i].cpfOuCnpj%>
                                    </td>
                                    <td>
                                        <%= data[i].logradouro%>
                                    </td>
                                    <td>
                                        <%= data[i].numero%>
                                    </td>
                                    <td>
                                        <%= data[i].bairro%>
                                    </td>
                                    <td>
                                        <%= data[i].cidade%>
                                    </td>
                                    <td>
                                        <%= data[i].estado%>
                                    </td>
                                    <td>
                                        <a class="btn btn-success edit"
                                            href="../formulario/editar/<%=data[i].id%>">Editar</a>
                                        <a class="btn btn-danger delete" onclick="return alert('Tem certeza?')"
                                            href="../formulario/delete/<%=data[i].id%>">Deletar</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <% } %>


                        <% if(!data.length) { %>
                            <p class="text-center" style="color: #AEEA00;">Nenhum usuario encontrado</p>
                            <% } %>

            </div>
        </div>
    </div>
</body>

</html>